<!doctype html>
<html>
<head>
	<title>This is the title of the webpage!</title>
</head>
<body>
	<p>This is an example paragraph. Anything in the <strong>body</strong> tag will appear on the page, just like this <strong>p</strong> tag and its contents.</p>
	<p>The website page is: ${gateway_url}</p>
	<script src="https://sdk.amazonaws.com/js/aws-sdk-2.1499.0.min.js"></script>
	<script type="text/javascript">

		AWS.config.region = '${aws_region}';
		AWS.config.credentials = new AWS.CognitoIdentityCredentials({IdentityPoolId: '${identity_pool_id}'});
	</script>
</body>
</html>
