<!doctype html>
<html>
<head>
	<title>Hello World Login</title>
</head>
<body>
	<p>Welcome to my very basic page. Log in to get see the secret!</p>
	<button onclick="functionToExecute()">Login</button>
	<script>
		function functionToExecute () {
			location.href = "https://${cognito_domain}.auth.${aws_region}.amazoncognito.com/login?response_type=token&client_id=${cognito_client_id}&redirect_uri=${redirect_url}";
		}
	</script>
</body>
</html>
