<!doctype html>
<html>
<head>
	<title>This is the title of the webpage!</title>
</head>
<body>
	<p>This is an example paragraph. Anything in the <strong>body</strong> tag will appear on the page, just like this <strong>p</strong> tag and its contents.</p>
	<p>The website page is: ${gateway_url}</p>
	<button onclick="functionToExecute()">Login</button>
	<script>
		function functionToExecute () {
			location.href = "https://${cognito_domain}.auth.${aws_region}.amazoncognito.com/login?response_type=token&client_id=${cognito_client_id}&redirect_uri=${cloudfront_domain}";
		}
	</script>
</body>
</html>
